@import './assets/css/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-link .btn-text {
        @apply relative after:absolute after:-bottom-2px after:left-1/2 after:block after:h-px after:w-0 after:bg-primary-500 after:transition-all after:content-[''] after:hover:left-0 after:hover:w-full;
    }
}

:root {
    font-family: 'Inter', sans-serif;
}

body {
    overflow: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.spinner-loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: spinner 1s infinite linear;
}

.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
    user-select: none;
    pointer-events: none;
}

.editor-paragraph {
    margin: 0 0 15px 0;
    position: relative;
}

.editor-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.editor-input {
    min-height: 60px;
    resize: vertical;
    overflow-y: auto;
    white-space: pre-wrap;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
    user-select: none;
    pointer-events: none;
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}
